.white-key {
	height: 300px;
    width: 50px; 
    border: 2px solid black;
    margin: 0.5px;
}

.white-key:active {
	background-color:lightgrey;  
}

.black-key {
    border: 2px solid black;
	background-color:black;
	width: 50px;
    height: 200px;
    margin: 0.5px; 
}

.black-key:active {
	background-color:grey;  
}

.key-press-down {
    background-color:#ACB8BF;  
}

.root-press-down {
    background-color: #F4F4DC; 
}