.piano {
	display: flex; 
	justify-content: center; 
}

.piano-octave {
    position: relative; 
}

.black-keys-left {
    position: absolute;
    display: flex;
    left: 30px;
}

.black-keys-right {
    position: absolute;
    left: 200px; 
    display: flex;
}

.white-keys {
    display: flex;
}

