// UI
@import 'style/UI/buttons'; 
// components
@import 'style/components/piano'; 
@import 'style/components/keys'; 
@import 'style/components/options-menu';


html, body {
	// font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
}

h1 {
	text-align: center;
}