html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.white-key {
	height: 300px;
    width: 50px; 
    border: 2px solid black;
    margin: 0.5px;
}

.white-key:active {
	background-color:lightgrey;  
}

.black-key {
	background-color:black;
	width: 50px;
    height: 200px;
    margin: 0.5px; 
}

.black-key:active {
	background-color:grey;  
}